html body #main {
  height:         100%;
}

.card {
  height:         12vh;
}
.card-content {
  padding:        2px 5px !important;
}
.card-content p {
  font-size:      8px !important;
}

.card-title {
  /*padding:        2px 5px !important;*/
  font-size:      10px;
  text-align:     center;
  border-bottom:  1px solid #aaaaaa;
}

.tageszahl {
  font-weight:    bold;
}
.tageszahl:after {
  content:        ".";
}
